spring:
  profiles:
    active: dev  # Default to local

---
spring:
  config:
    activate:
      on-profile: dev
  autoconfigure:
    exclude: org.springframework.ai.model.openai.autoconfigure.OpenAiChatAutoConfiguration  # Exclude OpenAI in dev
  ai:
    model:
      chat: ollama
    ollama:
      base-url: http://localhost:11434
      chat:
        options:
          model: llama3.2
          temperature: 0.7
    openai:
      api-key: NO_KEY_NEEDED_FOR_DEV
---
spring:
  config:
    activate:
      on-profile: prod
  autoconfigure:
    exclude: org.springframework.ai.model.ollama.autoconfigure.OllamaChatAutoConfiguration  # Exclude Ollama in prod
  ai:
    model:
        chat: openai
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo
          temperature: 0.7